/* Estilos para el componente CategoryComponent */

/* Estilos para las celdas de la tabla */
.table th, .table td {
    font-size: 24px; 
    text-align: center;
}

.btn-new{
    float: right;
}

.form-button{
    margin: 24px;
    text-align: center;
}
   
.btn-save{
    width: 240px;
}

.input-error-message{
 color: red;
 margin: 4px;
}

.img-loading{
    width: 100px;
    height: 100px;
}

.table-empty{
    padding: 24px;
  }
  
  
