<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Categorías</h4>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm mx-auto w-100 text-center">
            <thead class="thead-dark">
              <tr>
                <th class="col-md-3">ID de categoría</th>
                <th class="col-md-3">Categoría</th>
                <th class="col-md-3">Etiqueta</th>
                <th class="col-md-3">Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories">
                <td class="col-md-3">{{ category.category_id }}</td>
                <td class="col-md-3">{{ category.category }}</td>
                <td class="col-md-3">{{ category.tag }}</td>
                <td class="col-md-3">{{ category.status }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
