<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <table class="table table-bordered table-striped table-sm mx-auto">
        <thead class="thead-dark">
          <tr>
            <th>ID de categoria</th>
            <th>Categoria</th>
            <th>Etiqueta</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td>{{ category.category_id }}</td>
            <td>{{ category.category }}</td>
            <td>{{ category.tag }}</td>
            <td>{{ category.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
