.card-body-product{
    padding: 16px;
}

.edit-product-image{
    color: rgb(136, 136, 255);
    margin-top: 23.5px;
    margin-bottom: 23.5px;
    cursor: pointer;
}

.cursor-pointer{
    cursor: pointer;
}

.product-title{
    font-size: 32px;
    margin-bottom: 16px;
}

.btn-edith, .btn-delete{
    width: 140px;
    margin-right: 24px;
}

.btn-save{
    margin-left: 43%;
    margin-top: 15px;
    margin-bottom: 5px;
}