<div class="card">
    <div class="card-header">
    </div>
    <br>

    <div class="card-body">
        <div class="row">
          <!-- product image -->
          <div class="col-md-4">
            <div class="card" [id]="'card-' + product.product_id"> <!-- Agrega un id dinámico a la tarjeta -->
              <div *ngIf="images.length > 1" id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                  <button *ngFor="let item of images; let i = index" type="button" class="indicator"
                          data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i"
                          [class.active]="i === 0" [attr.aria-current]="i === 0"
                          [attr.aria-label]="'Slide ' + i"></button>
                </div>
                <div class="carousel-inner">
                  <div *ngFor="let prod of images; let i = index" class="carousel-item" [class.active]="i === 0">
                    <img [src]="prod.image !== '' ? prod.image : 'assets/no-product-image.png'"
                            class="card-img-top"
                            alt="..."
                            (load)="setImageBackgroundColor(prod.image, product.product_id)">

                  </div>
                </div>
                <!-- Controles del carrusel -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div *ngIf="images.length <= 1" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div *ngIf="images.length == 0" class="carousel-item active">
                    <img src="assets/product-default.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div *ngFor="let prod of images" class="carousel-item active">
                    <img [src]="prod.image !== '' ? prod.image : 'assets/product-default.jpg'"
                         class="d-block w-100"
                         alt="..."
                         (load)="setImageBackgroundColor(prod.image, product.product_id)"> <!-- Llama a la función -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- product data -->
          <div class="col-md-8">
            <div class="card">
              <div class="card-body-product">
                <div class="product-title">
                  {{ product.product }}
                </div>
                <table class="table">
                  <tbody>
                    <!-- price -->
                    <tr>
                      <th class="col-md-4">Precio</th>
                      <td>{{ product.price | currencyFormat }}</td>
                    </tr>
                    <!-- stock -->
                    <tr>
                      <th class="col-md-4">Stock</th>
                      <td>{{ product.stock }}</td>
                    </tr>
                    <!-- category_id -->
                    <tr>
                      <th class="col-md-4">Categoría</th>
                      <td>{{ product.category }}</td>
                    </tr>
                    <!-- description -->
                    <tr>
                      <th class="col-md-4">Descripción</th>
                      <td>{{ product.description }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
</div>